<h2>List of chefs</h2>
<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>
<div class="list">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price per hour</th>
            <th>Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users" (click)="setCurrentUser(user)">
            <td>
                {{user.firstName}}
            </td>
            <td>
                {{user.chef.pricePerHour}} UAH
            </td>
            <td>
                <div *ngIf="user.grade == 0">No grades</div>
                <div *ngIf="!(user.grade == 0)">{{user.grade}}/10</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="currentUser" class="details_container">
    <app-user-details [user]="currentUser"></app-user-details>
</div>
